fastapi==0.115.12
google-genai==1.14.0
jinja2==3.1.6
numpy>=1.22
openai==1.76.0
pydantic==2.11.3
scipy>=1.10
setuptools==80.0.1
silero-vad>=5.1.2
soundfile==0.13.1
uvicorn==0.34.2
webrtcvad==2.0.10
websockets>=15.0.1
# audioop was deprecated in Python 3.11+ and removed in 3.13+
audioop-lts; python_version>='3.13'
opuslib>=3.0.0
# for local testing
pytest>=8.4.0
pytest-asyncio>=1.0.0
httpx>=0.28.1
python-dotenv==1.1.0